import React from 'react'
import s from './style.scss'

interface I{{componentName}}Props {
}

interface I{{componentName}}State {
}

class {{componentName}} extends React.Component<I{{componentName}}Props, I{{componentName}}State> {
  componentDidMount () {
  }

  render () {
    return (
      <div>
        
      </div>
    )
  }

  
}

export default {{componentName}}
